.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid orange;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  font-size: 24px;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.resturent-card {
  width: 250px;

  margin: 15px;
  padding: 5px;
  word-wrap: break-word;
}
.resturent-card:hover {
  border: 1px solid orange;
  cursor: pointer;
}
.search-bar {
  padding: 10px;
}

.resturent-logo {
  width: 100%;
  height: 200px;
}
.resturent-container {
  display: flex;
  flex-wrap: wrap;
}
.filter-btn {
  margin: 10px;
  cursor: pointer;
}
